.controllerd {
    position: fixed;
    z-index: 399;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 세로 정렬 */
    align-items: center; /* 가로 정렬 */
}

.move-up, .move-bottom {
    color: $secondary;
}

.move-up button, .move-bottom button {
    border: none;
    background: #283d22;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    cursor: pointer; /* 마우스 포인터 변경 */
    border-radius: 3px;
    width: 35px;
    height: 35px;
    padding: 0;
}

.move-up button:active, .move-bottom button:active {
    animation: press 0.3s forwards; /* 클릭 시 눌림 애니메이션 */
}

@keyframes press {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); } /* 50% 지점에서 버튼 크기를 90%로 줄임 */
    100% { transform: scale(1); } /* 애니메이션 끝에서 원래 크기로 돌아옴 */
}
